---
import Layout from '../layouts/Layout.astro';
import Title from "../components/title.astro";
import ProjectCard from "../components/projectsCard.astro"

import emprendimientoImg from "../img/emprendimiento.png"
import youtube from "../img/youtube.png"

const webProjects = [
{image: emprendimientoImg.src , title:"Emprendimiento", paragraph:"El proyecto nació de una idea propuesta por mi profesora, quien me motivó a planificarlo. Sin embargo, debido a las intensivas clases, fue quedando en pausa gradualmente.", stack:["skills/languages/html", "skills/languages/css", "skills/languages/js"], link:"https://emprendimiento-page.netlify.app/"},
{image: youtube.src , title:"Youtube ui", paragraph:"Esta página es una recreación de YouTube, hecha para comprender cómo podrían estar estructuradas webs famosas y mejorar mis habilidades.", stack:["skills/languages/html", "skills/languages/css"], link:"https://emprendimiento-page.netlify.app/"}
]

const scripts = [
  {title:"Canciones random", paragraph:"Desarrollé este script para automatizar la selección aleatoria de canciones desde un directorio, eliminando la tarea tediosa de elegirlas manualmente.", stack:["skills/languages/bash"], link:"https://github.com/santiago459-dev/bash-scripts/blob/main/src/random-songs"},
  {title:"Liberar espacio", paragraph:"Creé este script para automatizar la limpieza del sistema, eliminando archivos innecesarios como logs antiguos y cachés.", stack:["skills/languages/bash"], link:"https://github.com/santiago459-dev/bash-scripts/blob/main/src/free-up-space"},
  {title:"Montar particiones", paragraph:"Este script fue creado al migrar a Arch Linux, debido a que las particiones no se montaban automáticamente, lo que me impulsó a experimentar con una solución.", stack:["skills/languages/bash"], link:"https://github.com/santiago459-dev/bash-scripts/blob/main/src/mount"},
  {title:"Volumen formateado", paragraph:"Este script permite obtener el volumen del sistema en un formato compatible con la barra de Qtile.", stack:["skills/languages/bash"], link:"https://github.com/santiago459-dev/bash-scripts/blob/main/src/get-volumen"},
]
---

<Layout titlePage="Portafolio">
    <header class="flex flex-col gap-5">
      <Title title="Portafolio"  style="text-4xl border-b-4 border-green-300 pb-4"/>
      <p class="paragraph">Aquí encontrarás algunos de mis proyectos en desarrollo. Aunque aún pueden tener errores o mejoras pendientes, cada uno representa un paso en mi crecimiento como desarrollador.</p>
    </header>

    <section class="flex flex-col gap-5 b w-full h-fit">
        <Title title="Proyectos Web" style="text-2xl" />
        <div class="flex flex-wrap gap-5 flex w-full h-fit">
          {webProjects.map(index => <ProjectCard styleCard="border-blue-200" frontPage={index.image} title={index.title} paragraph={index.paragraph} stack={index.stack} link={index.link}/>) }
        </div>
        <Title title="Scripts" style="text-2xl"/>
        <div class="flex flex-wrap gap-5 w-full h-fit">
          {scripts.map(index => <ProjectCard styleCard="border-orange-200" frontPage={index.image} title={index.title} paragraph={index.paragraph} stack={index.stack} link={index.link}/>) }
        </div>
    </section>
</Layout>

<style>
  .paragraph{
     font-family: 'Nunito', sans-serif;
  }
</style>
