---
import { Icon } from 'astro-icon/components'
import Title from "./title.astro"

const {styleCard, frontPage, title, paragraph, stack, link} = Astro.props
--- 

<a href={link} target="_BLANCK" class=`${styleCard} h-content  relative top-0 flex flex-col flex-grow basis-60 max-w-75 h-content  rounded-xl bg-gray-50 border-4  hover:-top-1 transition-all duration-200 cursor-pointer`>
  {frontPage &&
    <figure class="w-full h-40  rounded-lg overflow-hidden">
      <img src={frontPage} class="object-cover w-full h-full rounded-lg">
    </figure>
  }
  <section class="flex flex-col gap-2 w-full h-fit p-3">
    <div class="flex gap-2 flex-wrap content-start w-full ">
      {stack.map((index) => <Icon name={index} class='w-5 h-5 bg-white'/>)}
    </div>
    <div >
      <Title style="text-2xl text-gray-800 mb-1" title={title}/>
      <p class="paragraph text-sm text-gray-700">{paragraph}</p>
    </div>
  </section>
</av>

<style>
  .paragraph{
     font-family: 'Nunito', sans-serif;
  }
</style>
